body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.nav-container {
  position: sticky;
  background: linear-gradient(to right, rgb(230, 162, 117), rgb(219, 111, 126));
}

.nav-container a {
  color: #FFDAC1;
}

.btn-outline-light {
  color: #999898;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #E6A275;
  background-image: url(../images/Radiant-Gradient.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.card {
  position: absolute;
  background-color: #FFDAC1;
  border-color: #E6A275;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.about-grid {
  position: absolute;
  display: grid;
}

